.anketBaslik{
    font-size: 16px;
    font-weight: bold;
}
.anketTabAlan{
    line-height: 75px;
}
.zorunluAlan{
    color: darkred;
}
.canvasSelector{
    width: 100%;
    margin-top: 5px;
    height: 50%;
    line-height: 100%;
}
@media screen and (max-width: 992px) {
    body {
      font-size: 10px;
    }
  }